@import '../../../assets/styles/mixin';

.containerSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.react-select {
  &__indicator-separator {
    background-color: transparent !important;
  }
}

.container {
  display: flex;
}
