:root{
    --main-fonts: "Lato",sans-serif;
    --second-fonts: "Unbounded", sans-serif;

    --basic-color: rgb(25, 29, 40);
    --second-color: rgb(99, 89, 233);

    --main-text: rgb(243, 243, 243);
    --btn-main-bc: rgb(243, 243, 243);
    
    --accent-color-normal-state: rgb(58, 106, 245);
    --accent-color-hover: rgb(243, 243, 243);
    
    --accent-color-hover: rgb(58, 106, 245);
    --accent-color-normal-state: rgb(243, 243, 243);
}


