@import '/assets/styles/mixin';

.backdrop {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    background-color: #3a6af5;
    width: 100vw;
    height: 70vh;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
  }
}
