@import "../../../../assets/styles/mixin";

.style {

    height: 476px;
    margin: 0 auto;
    // padding: 0 15px;
    @include mobile {
        width: 343px;
    }

    @include tablet {
        width: 704px;
    };
    @include desktop {
        width: 769px;
    };
    background-color: #252C41;;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 16px 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

